@model ClientSecretViewModel
@{
}
<div class="modal fade" id="manageClientSecret" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--header-->
            <div class="modal-header">
                <h4>Manage Client Secret</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- body-->
            <div class="modal-body">
                <form id="ClientSecretFrom" action="ManageClientSecret">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <input type="hidden" id="secretClientId" asp-for="@Model.ClientId" />
                    <div class="form-group">
                        <input type="text" class="form-control" id="secretName" asp-for="@Model.ClientSecret" aria-describedby="emailHelp" placeholder="Enter Secret Name*">
                        <small id="emailHelp" class="form-text text-muted">Please note down the secret name because once saved will not be able to view.</small>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="secrettextArea" rows="3" asp-for="@Model.Description" placeholder="Enter Secret Description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="datepicker" asp-for="@Model.ExpirationDate" placeholder="Enter Expiration Date" />
                    </div>
                </form>
            </div>

            <!--footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="custom-modal">Save</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        var placeHolderElement = $('#modal-placeholder');

        $("#datepicker").datepicker({
            dateFormat: "dd.mm.yy"
        });

        //call api once form post
        placeHolderElement.on('click', '[data-save="custom-modal"]', function (event) {
            event.preventDefault();
            debugger;

            var FormSelector = '';
            var myFormSelector = '';
            //find if the id is present
            if ($(this).parents('.modal').find('form[id="ClientSecretFrom"]').length > 0) {
                FormSelector = 'form[id="ClientSecretFrom"]';
                myFormSelector = "form#ClientSecretFrom";
            }
            
            var form = $(this).parents('.modal').find(FormSelector);
            var myform = $(myFormSelector)[0];
            var actionUrl = form.attr('action');

            var fd = new FormData(myform);

            $.ajax({
                type: "POST",
                enctype: "multipart/form-data",
                url: actionUrl,
                data: fd,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    var newBody = $('.modal-body', data);
                    placeHolderElement.find('.modal-body').replaceWith(newBody);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
    })
</script>
