@model GetAllClientsViewModel
@{
    ViewData["Title"] = "All Clients";
    var index = 0;
    TempData["PreviousUrl"] = TempData["CurrentUrl"];
    TempData["CurrentUrl"] = Url.Action("GetAllClients", "Client");
}
<h1>All Clients</h1>

<table id="clientListTable" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>ClientId</th>
            <th>Client Name</th>
            <th>Description</th>
            <th>Enabled</th>
            <th>Allowed Grant Type</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.ServiceData.Data)
        {
        <tr>
            <td>
                @(++index)
            </td>
            <td>@client.ClientId</td>
            <td>@client.ClientName</td>
            <td>@client.Description</td>
            <td>@client.IsEnabled</td>
            @*<td>@client.AllowedGrantTypes</td>*@
            <td>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Grant Type</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var type in client.AllowedGrantTypes)
                        {
                            <tr>
                                <td>@type.Id</td>
                                <td>@type.GrantType</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                <a class="btn btn-primary btn-lg btn-floating" asp-action="EditClientInformation" asp-route-ClientId="@client.ClientId">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{ 
    <script>
        $(function () {
            $('#clientListTable').dataTable();
        });
    </script>
}