@using MenuManagement_IdentityServer.Data.Models;
@model ApplicationUser

<form asp-controller="Administration" asp-action="EditUser" method="post">
    <div class="card-body">
        <div class="card-text">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-outline mb-4">
                <input type="text" id="formUserName" class="form-control" asp-for="@Model.UserName" required />
                <label class="form-label" for="formUserName">Username</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="formEmail" class="form-control" asp-for="@Model.Email" required />
                <label class="form-label" for="formEmail">Email</label>
            </div>
            <div class="form-outline mb-4">
                <input type="number" id="formPhone" class="form-control" asp-for="@Model.PhoneNumber" />
                <label class="form-label" for="formPhone">Phone Number</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="formAddress" class="form-control" asp-for="@Model.Address" required />
                <label class="form-label" for="formAddress">Address</label>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="formCity" class="form-control" asp-for="@Model.City" required />
                <label class="form-label" for="formCity">City</label>
            </div>
            <div class="form-check form-check-inline mb-4">
                @if (Model.IsAdmin)
                {
                    <input type="checkbox" id="formCheckBox" class="form-check-input" asp-for="@Model.IsAdmin" />
                    <label class="form-check-label" for="formCheckBox">IsAdmin</label>
                }
                else
                {
                    <input type="checkbox" id="formCheckBox" class="form-check-input" asp-for="@Model.IsAdmin" readonly/>
                    <label class="form-check-label" for="formCheckBox">IsAdmin</label>
                }

            </div>
            <div class="form-check form-check-inline mb-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" asp-for="@Model.PhoneNumberConfirmed" disabled />
                <label class="form-check-label" for="inlineCheckbox2">Phone Number Confirmed</label>
            </div>
            <div class="form-check form-check-inline mb-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" asp-for="@Model.EmailConfirmed" disabled />
                <label class="form-check-label" for="inlineCheckbox3">Email Confirmed</label>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <input class="btn btn-success" type="submit" name="save" value="Save" />
        <input class="btn btn-secondary" type="submit" name="cancel" value="Cancel" />
    </div>
</form>
