@using MenuManagement_IdentityServer.Models;
@model EditUserGet
@{
    ViewData["Title"] = "Edit User";
    var User = Model.Users;
    var UserRoles = Model.Roles;
    var UserClaims = Model.Claims;
}

<div id="modal-placeholder"></div>
<div class="mt-3">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <h4><b>UserId:</b> @User.Id</h4>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="@User.Id" />
                    <div class="form-outline mb-4">
                        <input type="text" id="formUserName" class="form-control" asp-for="@User.UserName" required />
                        <label class="form-label" for="formUserName">Username</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="formEmail" class="form-control" asp-for="@User.Email" required />
                        <label class="form-label" for="formEmail">Email</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="number" id="formPhone" class="form-control" asp-for="@User.PhoneNumber" />
                        <label class="form-label" for="formPhone">Phone Number</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="formAddress" class="form-control" asp-for="@User.Address" required />
                        <label class="form-label" for="formAddress">Address</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="formCity" class="form-control" asp-for="@User.City" required />
                        <label class="form-label" for="formCity">City</label>
                    </div>
                    <div class="form-check form-check-inline mb-4">
                        <input type="checkbox" id="formCheckBox" class="form-check-input" asp-for="@User.IsAdmin" />
                        <label class="form-check-label" for="formCheckBox">IsAdmin</label>
                    </div>
                    <div class="form-check form-check-inline mb-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" asp-for="@User.PhoneNumberConfirmed" disabled />
                        <label class="form-check-label" for="inlineCheckbox2">Phone Number Confirmed</label>
                    </div>
                    <div class="form-check form-check-inline mb-4">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" asp-for="@User.EmailConfirmed" disabled />
                        <label class="form-check-label" for="inlineCheckbox3">Email Confirmed</label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="submit">Save</button>
                <a class="btn btn-secondary" asp-controller="Administration" asp-action="GetUserList">Cancel</a>
            </div>
        </form>
    </div>

    <!-- card for Roles-->
    <div class="mt-3">
        <div class="card">
            <div class="card-header">
                <h4>Roles</h4>
            </div>
            <div class="card-body">
                @if (!UserRoles.Any())
                {
                    <div class="mt-3">
                        <h5>No Roles at the moment.</h5>
                    </div>
                }
                else
                {
                    <ul>
                        @foreach (var role in UserRoles)
                        {
                            <li>@role</li>
                        }
                    </ul>
                }
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#manageUserRole"
                        data-url="@Url.Action("ManageUserRoles","Administration",new { UserId = User.Id })">
                    Manage Roles
                </button>
            </div>
        </div>
    </div>

    <!--card for claims-->
    <div class="mt-3">
        <div class="card">
            <div class="card-header">
                <h4>Claims</h4>
            </div>
            <div class="card-body">
                @if (!UserClaims.Any())
                {
                    <h5>No Claims at this moment</h5>
                }
                else
                {
                    <ul>
                        @foreach (var claim in UserClaims)
                        {
                            <li>@claim</li>
                        }
                    </ul>
                }
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#manageUserClaims"
                        data-url="@Url.Action("ManageUserClaim","Administration",new { UserId = User.Id })">
                    Manage User Claims
                </button>
                <button class="btn btn-danger" data-toggle="ajax-modal" data-target="#deleteUserClaims"
                        data-url="@Url.Action("DeleteUserClaim","Administration",new { UserId = User.Id })">
                    Delete User Claims
                </button>
            </div>
        </div>
    </div>

</div>
@section Scripts
{
    <script>
        $(function () {
            var placeHolderElement = $('#modal-placeholder');

            placeHolderElement.on('click', '[data-save="custom-modal"]', function (event) {
                //alert('clicked');
                event.preventDefault();

                var FormSelector = '';
                var myFormSelector ='';
                //find if the id is present
                if ($(this).parents('.modal').find('form[id="ManageUserClaimForm"]').length > 0) {
                    FormSelector = 'form[id="ManageUserClaimForm"]';
                    myFormSelector = "form#ManageUserClaimForm";
                }
                //else if ($(this).parents('.modal').find('form[id="manageDeleteClaimsForm"]').length > 0) {
                //    FormSelector = 'form[id="manageDeleteClaimsForm"]';
                //    myFormSelector = "form#manageDeleteClaimsForm";
                //}
                var form = $(this).parents('.modal').find(FormSelector);
                var myform = $(myFormSelector)[0];
                var actionUrl = form.attr('action');

                var fd = new FormData(myform);

                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: actionUrl,
                    data: fd,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (data) {
                        //replace with new body
                        var newBody = $('.modal-body', data);
                        placeHolderElement.find('.modal-body').replaceWith(newBody);

                        // find IsValid input field and check it's value
                        // if it's valid then hide modal window
                        var isValid = newBody.find('[name="IsValid"]').val() == 'True';
                        if (isValid) {
                            placeHolderElement.find('.modal').modal('hide');
                            //then reload the main page to get refeshed data
                            location.reload();
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        placeHolderElement.find('.modal').modal('hide');
                    }
                });
            });
        });
    </script>
}
